.block {
    background: #0d0f0d; 
    border-left: 6px solid #00ff88;
    border-radius: 8px;
    padding: 18px;
    margin: 12px auto;
    width: 90%;
    max-width: 800px;

    color: #00ff88;
    font-family: "Courier New", monospace;

    box-shadow: inset 0 0 10px #00ff88, 0 0 20px rgba(0, 255, 136, 0.5);

    letter-spacing: 0.5px;
}

h1 {
    text-align: center;
}

.chain-arrow {
    width: 6px;          /* thickness */
    height: 150px;       /* length (vertical) */
    background: #00ff88;
    margin: 20px auto;   /* centers vertically between blocks */
    box-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88;
    border-radius: 10px;
}

hr {
    background-color: purple;
}


{{/* .see, .hide {
    padding: 5px;
    float: right;
    top: -10px;
} */}}